[Local_Server.config]
Local_Server_Name=defaultserver
Local_Server_IP=192.168.1.129
Local_Server_Port=28888
Master_Flag=0
Slave_Index=1

[Twitter.config]
Twitter_Name=StevenBai
Twitter_Api_Key=api1234567890

[Cluster_Server.config]
Cluster_Name=group5
Number_Of_Servers=3
Master_Server_Name=chaoserver
Master_Server_IP=192.168.1.58
Master_Server_Port=18888
Secondary_Server_(2)_Name=pan1
Secondary_Server_(2)_IP=pan1IP
Secondary_Server_(2)_Port=pan1port
Secondary_Server_(3)_Name=bai1
Secondary_Server_(3)_IP=bai1IP
Secondary_Server_(3)_Port=ban1port
