[Local_Server.config]
Local_Server_Name=Chao_Zhangao
Local_Server_IP=127.0.0.1
Local_Server_Port=20001
Master_Flag=0
Secondary_Index=2

[Twitter.config]
Twitter_Name=Chao_Zhang
Twitter_Api_Key=e2jo43903j1k390

[Cluster_Server.config]
Cluster_Name=group5
Number_Of_Servers=4
Master_Server_Name=pan
Master_Server_IP=192.30.40.3
Master_Server_Port=20033
Secondary_Server_(2)_Name=Chao_Zhang	
Secondary_Server_(2)_IP=127.0.0.1
Secondary_Server_(2)_Port=20001
Secondary_Server_(3)_Name=Bai
Secondary_Server_(3)_IP=192.0.0.33
Secondary_Server_(3)_Port=55555
Secondary_Server_(4)_Name=Duan
Secondary_Server_(4)_IP=195.6.0.0
Secondary_Server_(4)_Port=40000
